<div>
  <button
    type="submit"
    style="margin: 50px;"
    (click)="increase()"
  >
    Increase
  </button>

  <span style="margin: 50px;">
    Year: {{ year }}
    <button
      type="submit"
      (click)="updateSelected(year - 1)"
    >
      Down
    </button>
    <button
      type="submit"
      (click)="updateSelected(year + 1)"
    >
      Up
    </button>
  </span>
</div>

<app-d3-chart
  [data]="data"
  [width]="width"
  [height]="height"
  [xAxisProps]="xAxisProps"
  [yAxisProps]="yAxisProps"
  [barStroke]="barStroke"
  [barStrokeWidth]="barStrokeWidth"
  [tooltipContent]="tooltipContent"
  [mouseOver]="mouseOver"
  [mouseOut]="mouseOut"
>
</app-d3-chart>
